<html>

<body>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/6propiedad/style.css">
    <link rel="stylesheet" href="/6propiedad/imagenDeFondo.css">
  </head>

  <title>Propiedad</title>

  <div id="imagenVista1" class="imagen1" style="display: none;">
    <div id="botonX"
      style="color: white; background-color: rgba(0,0,0,0.2); padding: 10px 20px; position: absolute; right: 20px; top: 10px; user-select: none; z-index: 1; cursor:pointer;">
      &#88</div>
    <span class="anterior1" onclick="anterirorImagen()">&#10094</span> 
    <span class="siguiente1" onclick="siguienteImagen()">&#10095</span>
    <img id="imagen11" src="<%= pagina.imagenes[0] %>" style="user-select: none;">
    <div id="numeroMostrar1" style="user-select: none;"></div>
  </div>



  <link rel="stylesheet" href="/6propiedad/Registro/RegistroStyle.css">


  <div id="registro2" class="registro2"
    style="width: 100%; height: 100%; position: absolute; z-index: 1000; background-color: rgba(0,0,0,0.5);">
    <div class="divPadre1"
      style="max-width: 400px; height: 500px; border: 1px #b1b1b1 solid; margin: auto; display: flex; flex-direction: column; align-items: center; border-radius: 20px; position: relative; z-index: 8; top: 50%; transform: translateY(-50%); box-shadow: 0px 0px 3px rgba(0,0,0,0.5); backdrop-filter: blur(15px); background-color: white;">

      <div class="divTitulo1" style="background-color: transparent;">
        <h2
          style="text-decoration: none; font-weight: bold; font-size: 22px; margin-bottom: 18px; margin-top: 20px; background-color: transparent; color: black;">
          Iniciar sesión</h2>
      </div>

      <div id="divInput2" style="position: relative; margin-bottom: 20px; background-color: transparent;">
        <div id="divInput2z"
          style="background-color: white; border-radius: 8px; background-color: transparent; position: relative;">
          <div class="a1" id="idInputTransp11"
            style="position: absolute; color: rgb(83, 118, 138); padding: 20px 0px 10px 0px; background-color: transparent; padding-left: 10px; transition: height 0.3s; transition: font-size 0.3s; height: 20px; line-height: 55px; margin-top: 0px; padding-top: 0px; user-select: none; z-index: 5; pointer-events: none; color: black;">
            Email</div>
          <input class="a2" id="idInputTransp112"
            style="padding: 20px 0px 2px 0px; font-size: 18px; background-color: transparent; z-index: 11; padding-left: 10px; border: 1px rgb(83, 118, 138) solid; border-radius: 8px; outline: none; width: 362px;"
            spellcheck="false" type="email">
          <p id="mensajeCorreo" style="color: red; font-size: 10px; position: absolute; line-height: 12px;"></p>
        </div>
      </div>

      <div id="divInput2b" style="position: relative; margin-bottom: 20px; background-color: transparent;">
        <div id="divInput2z"
          style="background-color: white; border-radius: 8px; background-color: transparent; position: relative;">
          <div class="a1" id="idInputTransp11b"
            style="position: absolute; color: rgb(83, 118, 138); padding: 20px 0px 10px 0px; background-color: transparent; padding-left: 10px; transition: height 0.3s; transition: font-size 0.3s; height: 20px; line-height: 55px; margin-top: 0px; padding-top: 0px; user-select: none; z-index: 5; pointer-events: none; color: black;">
            Contraseña</div>
          <input class="a2" id="idInputTransp112b"
            style="padding: 20px 0px 2px 0px; font-size: 18px; background-color: transparent; z-index: 11; padding-left: 10px; border: 1px rgb(83, 118, 138) solid; border-radius: 8px; outline: none; width: 362px;"
            type="password">
          <p id="mensajeContrasena" style="color: red; font-size: 10px; position: absolute; line-height: 12px;"></p>
        </div>
      </div>

      <p id="mensaje22" style="color:red; font-size: 17px;"></p>

      <button class="botonEnviar1" id="botonEnviar1"
        style="width: 360px; height: 40px; border-radius: 10px; color: white; margin-top: 10px; margin-bottom: 20px; padding: 15px 0px; line-height: 5px; border: none; cursor: pointer; font-size: 17px; z-index: 9;">Inicia
        Sesión</button>

      <a href="/reestablecer" style="text-decoration: none; background-color: transparent;">
        <p style="background-color: transparent; font-size: 17px;">¿Has olvidado tu contraseña?</p>
      </a>
      <p style="background-color: transparent; font-size: 17px;">¿No tengo cuenta aun? <a href="/registro"
          style="text-decoration: none; font-weight: bold; color: #0e4097; background-color: transparent; font-size: 17px; margin-left: -1px;">Regístrate</a>
      </p>
    </div>
  </div>



  <div style="display: flex; justify-content: space-between; background-color: blue; height: 50px;">

    <div style="background-color: transparent; display: flex; align-items: center;">
      <h2 style="background-color: transparent;"><a href="/inicio"
          style="user-select: none; background-color: transparent; color:white; text-decoration: none; cursor: pointer;">Alquileres</a>
      </h2>
    </div>

    <div style="display: flex; background-color: transparent; align-items: center">
      <div style="background-color: transparent; display: flex;">
        <p id="textoPublicar" style="background-color: transparent; z-index: 200"><a href="/Publicar"
            style="background-color: transparent; color: white; text-decoration: none; cursor: pointer; font-size: 15px;">Publicar</a>
        </p>
        <div class="menu-btn" id="menuBtn2" style="margin-left: 10px; margin-right: 38px"><img
            src="/7publicar/menuHamburguesa/menu hamburguesa/menu(1).png"
            style="width: 25px; height: 25px;color: black; background-color: transparent; z-index: 100; position: absolute;">
        </div>
      </div>
      <div style="background-color: transparent;">
        <a id="registro1" 1href="../18login/1/index.html"
          style="background-color: red; color:white; text-decoration: none; padding: 6px 8px; border-radius: 6px; margin-right: 15px; ; margin-left: 14px; user-select: none; cursor: pointer; height: 24px; line-height: 24px; font-size: 17px;">Iniciar
          Sesión</a>
      </div>
    </div>

  </div>


  <link rel="stylesheet" href="/6propiedad/menuHamburguesa/hamburguesa.css">

  <nav class="nav"
    style="background-color: rgba(0,0,255,0.99); z-index: 100; height: 100%;">

    <div style="width: 100%; height: 50px;position: absolute; top: -50px; background: blue; z-index: 1;">
    </div>

    <ul style="background-color: transparent; height: 100%; z-index: 100">
      <li class="cerrar-menu" style="margin-top: 14px;"><a href="/inicio"
          style="color: white;">Inicio</a></li> 
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="/mis-publicaciones" style="color: white;">Mis publicaciones</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Mis favoritos</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Mi cuenta</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Mensajes</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="/publicar" style="color: white;">Publicar</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu" style="margin-top: 1px;"><a href="/alquileres" style="color: white;">Ultimas
          publicaciones</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Reportar</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu" style="margin-top: 1px;"><a 1href="#" style="color: white;"
          onclick="mostrarConfirmacion()">Cerrar sesión</a></li>
      </ul">
  </nav>



  <style>
    .overlay3 {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }


    .message3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      z-index: 1000;
    }
  </style>


  <div class="overlay3" id="overlay3" style="box-shadow: 0px 0px 3px rgba(0,0,0,0.5)">
    <div class="message3">
      <p style="color: black;">¿Estás seguro de que deseas cerrar sesión?</p>

      <div style="display: flex; justify-content: center; gap: 20px;">
        <div onclick="cerrarSesion3()"
          style="background-color: white; border: 1px solid black; width: 110px; height: 36px; font-size: 14px; line-height: 36px; cursor: pointer; border-radius: 5px">
          Cerrar sesión</div>

        <div onclick="ocultarConfirmacion3()"
          style="background-color: rgb(109, 192, 255); color: white; border: 1px solid black; width: 110px; height: 36px; font-size: 14px; line-height: 36px; cursor: pointer; border-radius: 5px">
          Cancelar</div>
      </div>
    </div>
  </div>


  <script>
    function mostrarConfirmacion() {
      document.getElementById("overlay3").style.display = "block";
    }

    function cerrarSesion3() {
      location.reload()  
      document.cookie.split(";").forEach(cookie => {    
        document.cookie = cookie.split("=")[0].trim() + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/"
        document.cookie = cookie.split("=")[1].trim() + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/"
      })
      ocultarConfirmacion3();  
    }

    function ocultarConfirmacion3() {
      document.getElementById("overlay3").style.display = "none";
    }
  </script>


  <div style="display: flex; width: 100%;">
 
    <div style="width: 65%; height: 1590px;">

      <div id="imagenVisible1">
        <img src="<%= pagina.imagenes[0] %>" 1height="200px" width="100%" 1margin-left="35px"
          style="margin-left: 30px; margin-top: 30px; position: relative; height: 520px;">
      </div>


      <div style="width: 100%">
        <div class="texto1" style="width: 100%">

          <div class="textoJunto1" style="justify-content: space-between;">
            <h2
              style="margin: 0px; margin-right: 40px; margin-left: var(--separacionImgTxt); margin-top: 40px; margin-bottom: 20px;">
              <%= pagina.direccion %>
                <%= pagina.numero %>
            </h2> 
            <div>
              <h2
                style="font-size: 30px; color: red; line-height: 26px; margin-top: 40px; font-family: 'SegoeUI';">
                <b id="precioAlterado2"></b> </h2>
              <h4
                style="line-height: 36px; color:rgb(179, 127, 127); font-size: 14px; font-family: 'SegoeUI';"
                id="expensaAlterada"> </h4>
            </div> 
          </div>

          <h4 style="margin-left: var(--separacionImgTxt); margin-bottom: 6px;">
            <%= pagina.provincia %>, <%= pagina.ciudad %>
          </h4>
          <div>
            <h4 style="margin-left: var(--separacionImgTxt); margin-bottom: 35px"> <img
                src="/6propiedad/iconos/detalles/004_square_meter.svg"
                style="width: 20px; height: 20px; position: relative; top: 4px;">
              <%= pagina.area %> m<sup>2</sup> <img src="/6propiedad/iconos/detalles/001_bed.svg"
                  style="width: 20px; height: 20px; margin-left: 10px; position: relative; top: 4px;">
                <%= pagina.dormitorio %> dormitorio <img src="/6propiedad/iconos/detalles/048_ambience.svg"
                    style="width: 20px; height: 20px; margin-left: 10px; position: relative; top: 4px;">
                  <%= pagina.ambiente %> ambiente <img src="/6propiedad/iconos/detalles/009_calendar.svg"
                      style="width: 20px; height: 20px; margin-left: 10px; position: relative; top: 4px;">
                    <%= pagina.edad %> años <img src="/6propiedad/iconos/detalles/003_bath.svg"
                        style="width: 20px; height: 20px; margin-left: 10px; position: relative; top: 4px;">
                      <%= pagina.banos %> baño
            </h4>
          </div>

          <h4 style="margin-left: var(--separacionImgTxt); margin-bottom: 2px;">Descripción:</h4>
          <textarea
            style="margin: 0px; margin-left: var(--separacionImgTxt); margin-bottom: 35px; font-size: 15px; width:100%; height: 200px; border: 1px solid rgba(0,0,0,0.1); outline: none;"
            readonly> <%= pagina.descripcion %> </textarea>
    
          <div class="textoJunto1">
            <h4 style="margin-left: var(--separacionImgTxt); margin-bottom: 6px;">Tipo de operacion:</h4>
            <p style="font-weight: 500; color: black; line-height: 26px; margin: 0px; margin-left: 6px;">
              <%= pagina.operacion %>
            </p>
            <h4 style="margin-left: 30px;">Tipo de vivienda:</h4>
            <p style="font-weight: 500; color:black; line-height: 26px; margin: 0px; margin-left: 6px;">
              <%= pagina.vivienda %>
            </p>
          </div>

          <div>
            <p style="margin: 0px; margin-left: var(--separacionImgTxt); margin-bottom: 35px;" id="fechaPublicacion">
              Publicado: <%= fechaFormato %>
            </p>
          </div>
        </div>
      </div>

      <div id="fechaPublicacion2" value33="<%= pagina.createdAt %>" style="display: none;"></div>

      <div id="valorEjs" valor22="<%= pagina.imagenes %>"></div>

      <img id="imagenesOcultasDescargadas" style="display: none">




      <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
      <style>
        #mapid {
          height: 400px;
        }
      </style>



      <div id="protectorMouse"
        style="z-index:10; box-shadow: 0 0 1px black; margin-left: var(--separacionImgTxt); position: relative;">
        <div id="mensajeClick"
          style="position: absolute; z-index: 2000; top: 35%; left:50%; transform: translate(-50%, -50%); background: rgba(0,0,0,0.5); padding: 20px 100px; color: rgba(255,255,255,0.8); white-space: nowrap;">
          Haz clic para interactuar con el mapa</div>
        <div id="mapid" style="pointer-events: none;"></div>
      </div>


      <script>
        document.getElementById('protectorMouse').addEventListener('click', function () {    //change
          document.getElementById('mapid').style.pointerEvents = 'auto';
          document.getElementById('mensajeClick').textContent = ""
          document.getElementById('mensajeClick').style.padding = "0"
        })
      </script>

      <div id="lat" style="display: none;">
        <%= pagina.latitud %>
      </div>
      <div id="lng" style="display: none;">
        <%= pagina.longitud %>
      </div>

      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

      <script>
        const latValor = document.getElementById("lat").innerHTML
        const lngValor = document.getElementById("lng").innerHTML
        console.log("latValor:", latValor)
        console.log("lngValor:", lngValor)

        let pos11 = [latValor, lngValor];


        var mymap = L.map('mapid').setView(pos11, 16);
        L.tileLayer('https://static1.sosiva451.com/Mapas/v2/{z}/{x}/{y}', {
          maxZoom: 19,
        }).addTo(mymap);

        var marker = L.marker(pos11, {
          title: 'Marcador de ejemplo'
        }).addTo(mymap);
      </script>


      <div>
        <div style="display: flex; margin: 0px; margin-left: var(--separacionImgTxt); width: 60%; margin-top: 5px;">
          <img src="/6propiedad/iconos/detalles/011_compass.svg" style="width: 20px; height: 20px;">
          <p style="margin: 0px;">
            <%= pagina.direccion %>
              <%= pagina.numero %>
          </p>
        </div>
        <p style="margin: 0px; margin-left: var(--separacionImgTxt); margin-bottom: 30px; width: 60%;">
          <%= pagina.ciudad %> - <%= pagina.provincia %>
        </p>
      </div>
    </div>


    <div id="scroll1" class="normal1"
      style="width: 30%; height: 500px; background-color: transparent;">

      <div class="divPadre1" style="background-color: transparent;">

        <div class="divTitulo1" style="background-color: transparent;">
          <h2 style="background-color: transparent;">Contactá al anuciante</h2>
        </div>

        <div id="divInput2">
          <div id="divInput2z">
            <div class="a1" id="idInputTransp11">Email</div>
            <input class="a2" id="idInputTransp112">
          </div>
        </div>

        <div id="divInput2b">
          <div id="divInput2z">
            <div class="a1" id="idInputTransp11b">Nombre</div>
            <input class="a2" id="idInputTransp112b">
          </div>
        </div>

        <div class="divInput1 mensajeDiv1">
          <h5>Mensaje</h5>
          <textarea class="mensajeTextarea1" placeholder="Hola, Me interesa saber sobre la propiedad."></textarea>
        </div>

        <button class="botonEnviar1">Enviar</button>

      </div>
    </div>
  </div>


  <hr style="border: none; background-color: rgba(211, 211, 211, 0.9); height: 1px;">


  <div
    style="display: flex; justify-content: space-evenly; height: 200px; background-color: rgba(211, 211, 211, 0.2); margin-left: -5%;">

    <div style="display: flex; flex-direction: column; background-color: transparent; margin-top: 30px;">
      <h3 style="background-color: transparent;">Búsquedas frecuentes</h3>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); text-decoration: none; font-size: 18px;"">¿Quienes
        somos?</a>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); text-decoration: none; font-size: 18px;"">Publicar</a>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); text-decoration: none; font-size: 18px;"">Mi Cuenta</a>
    </div>

    <div style="display: flex; flex-direction: column; background-color: transparent; margin-top: 30px;">
      <h3 style="background-color: transparent;">Contáctanos</h3>
      <p style="background-color: transparent; color: rgb(78, 69, 69); text-decoration: none;">Escribenos a</p>
      <a href="#"
        style="background-color: transparent; color: rgb(78, 69, 69); text-decoration: none; font-size: 18px;"">correo@gmail.com</a>
    </div>

    <div style="display: flex; flex-direction: column; background-color: transparent; margin-top: 30px;">
      <h3 style="background-color: transparent;">Siguenos</h3>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); font-size: 18px;"">Youtube</a>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); font-size: 18px;"">Instagram</a>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); font-size: 18px;"">Facebook</a>
      <a href="#" style="background-color: transparent; color: rgb(78, 69, 69); font-size: 18px;"">Tiktok</a>
    </div>
  </div>


  <script src="/6propiedad/muestraMenu.js"></script>
  <script src="/6propiedad/menuHamburguesa/hamburguesa.js"></script>

  <script src="/6propiedad/Registro/RegistroScript.js"></script>
  <script src="/6propiedad/Registro/registroFetch.js"></script>

  <script src="/6propiedad/imagenDeFondo.js"></script>
  <script src="/6propiedad/script.js"></script>

</body>

</html>
